@import url('https://fonts.googleapis.com/css?family=Cabin|Indie+Flower');

body {background-color:#336699}

h1 {font-family: serif; text-align: center; background-color:#FF4057;}

.topnav {width: 100%;height: 100px; background-color:#917094; 
        text-align: right;
}

li {display: inline-block;margin-right: 15px;}
  
a {color: red;text-decoration: none}

.logo {float: left; width: 20%; text-align: left;}

.upnav {width: 70%; float: right;}

.center_with_border {border: 2px solid purple; width: 75%; margin: auto;}

footer {background-color:#C2C99D;}

